FATAL error registering a NF in NRF

I'm doing some tests registering an NF in the NRF and with the next call, the NRF dies. Surely the request is wrong, but not to suicide xD.

**Request details:**
_HTTP Method: PUT
HTTP Headers: Accept=[application/json],Content-Type=[application/json],User-Agent=[Java-SDK],Content-Length=[300]
Request Body: {"nfInstanceId":"9356ca9b-4ae0-4e31-aa9e-c38a3049d8b2","nfInstanceName":"NameAusf","nfType":"AUSF","nfStatus":"REGISTERED","heartBeatTimer":60,"fqdn":"localhost","nfServicePersistence":false,"nfProfileChangesSupportInd":false,"nfProfileChangesInd":false,"lcHSupportInd":false,"olcHSupportInd":false}_


**NRF Output:**
open5gs Error
_nrf      | 01/20 10:24:57.255: [core] ERROR: Invalid APN encoding[len:108] + 1 > length[9] (../lib/core/ogs-3gpp-types.c:330)
nrf      | 01/20 10:24:57.255: [app] FATAL: ogs_sbi_nnrf_handle_nf_profile: Assertion `0 < ogs_fqdn_parse( nf_instance->fqdn, NFProfile->fqdn, ogs_min(strlen(NFProfile->fqdn), OGS_MAX_FQDN_LEN+1))' failed. (../lib/sbi/nnrf-handler.c:251)
nrf      | 01/20 10:24:57.255: [core] FATAL: backtrace() returned 11 addresses (../lib/core/ogs-abort.c:37)
nrf      | /open5gs/install/lib/x86_64-linux-gnu/libogssbi.so.2(ogs_sbi_nnrf_handle_nf_profile+0x8a3) [0x7f918e29dd31]
nrf      | ./open5gs-nrfd(+0x94b0) [0x55ad9228d4b0]
nrf      | ./open5gs-nrfd(+0x668b) [0x55ad9228a68b]
nrf      | /open5gs/install/lib/x86_64-linux-gnu/libogscore.so.2(ogs_fsm_dispatch+0x4b) [0x7f918e2dcdfb]
nrf      | ./open5gs-nrfd(+0x83dd) [0x55ad9228c3dd]
nrf      | /open5gs/install/lib/x86_64-linux-gnu/libogscore.so.2(ogs_fsm_dispatch+0x4b) [0x7f918e2dcdfb]
nrf      | ./open5gs-nrfd(+0x4926) [0x55ad92288926]
nrf      | /open5gs/install/lib/x86_64-linux-gnu/libogscore.so.2(+0x15f47) [0x7f918e2cff47]
nrf      | /lib/x86_64-linux-gnu/libpthread.so.0(+0x9609) [0x7f918dc44609]
nrf      | /lib/x86_64-linux-gnu/libc.so.6(clone+0x43) [0x7f918ddb6293]
nrf      | /open5gs_init.sh: line 96:    11 Aborted                 (core dumped) ./open5gs-nrfd
nrf exited with code 13_


@aleksander0m 

This bug has been fixed. Please use the new package v2.4.3.

See also #1328.

Thanks a lot!
Sukchan

Hi @ajimenezsa 

Could you share pcap?

Thanks a lot!
Sukchan

Sure! I hope this helps.
[open5gs-fatal-error-2022-01.pcap.gz](https://github.com/open5gs/open5gs/files/7911833/open5gs-fatal-error-2022-01.pcap.gz)



@ajimenezsa 

Open5gs is using a different format than your NF for FQDN.

Open5gs uses the FQDN following the format of TS23.003(Ch 19.4.2 Fully Qualified Domain Names (FQDNs). Length is entered in the first 1 byte. However, your NF is using the FQDN without the first 1 byte.

The standard documentation doesn't seem to make it clear about this. I'm currently not sure which one is correct. If you happen to know something, please share.

Thanks a lot!
Sukchan



I'll check it ASAP. But my principal concern is that the NRF breaks down with this "incorrect FQDN" and I think it should be more robust, shouldn't it?

@aleksander0m 

You're right! I've updated the patch to the main branch.

Thanks a lot!
Sukchan

@acetcom 

I've been checking the documentation and in the ts TS23.003 the references of how to implement the FQDN changes throughout the document:

- Section 19.4.2 **Fully Qualified Domain Names**: describes a codification using the _octet length field_. 
- Section 16.2 **BSF address**: indicates  _"is in the form of a Fully Qualified Domain Name"_ but without mentioning the octet length field.
- Section 17.3.2 **GANC-SEGW identifier**: indicates _"take the form of a fully qualified domain name"_ but without mentioning the octet length field.

I've reviewed IETF RFC 2181, IETF RFC 1035, IETF RFC 1123 and other documents.
We can see in section 3.1 of RFC 1035, the mention of the _"one octet length"_. If we review this document we can see that explains how works the data transmission of DNS protocol and how to encode the data in a binary way. 

Other internet protocols, which use directly the TCP (or UDP) protocol, use this way of codification to send the messages 
ex: Section 3 of RFC 3361., Section 4 of [https://tools.ietf.org/id/draft-ietf-dhc-bcmc-options-01.txt](url).

5G, or case, uses JSON over HTTP2, so I'm quite convinced that the codification mentioned in 19.4.2.1 is not well explained, or doesn't apply, at least, to JSON data.
If you check the examples in TS29303 there is nothing about encoding using binary DNS or appending a length before each text part of the labels.

And lastly, the yaml included by 3gpp (https://www.3gpp.org/ftp/Specs/archive/OpenAPI/Rel-15/TS29510_Nnrf_NFManagement.yaml) describe the FQDN as a String, nor a binary neither an array.

Sorry for the extension! 



@ajimenezsa 

I agree with you. So, I've removed the one octet length in FQDN string on the main branch

Thank you so much!
Sukchan

Now it works! Great!