[Bug]: Invalid PATCH request body causes NRF to crash

### Open5GS Release, Revision, or Tag

e12b1be3137a3f94594b1be7ba5d51ca06ee2ab7

### Steps to reproduce

When sending an invalid JSON body (the minimal example is `[{}]`) in a PATCH request, the NRF cannot process it and crashes.

You can reproduce the bug with the following `curl` command after starting the NRF:

```
curl --http2-prior-knowledge -X 'PATCH' \
--data '[{}]' --header "Content-Type: application/json-patch+json" \
'http://127.0.0.10:7777/nnrf-nfm/v1/nf-instances/1af45327-3259-4053-a7e3-43620d314cf0'
```

### Logs

```shell
$ ./install/bin/open5gs-nrfd
Open5GS daemon v2.6.6-26-ge12b1be

11/14 16:50:32.696: [app] INFO: Configuration: '.../open5gs/install/etc/open5gs/nrf.yaml' (../lib/app/ogs-init.c:126)
11/14 16:50:32.697: [app] INFO: File Logging: '.../open5gs/install/var/log/open5gs/nrf.log' (../lib/app/ogs-init.c:129)
11/14 16:50:32.700: [sbi] INFO: nghttp2_server() [http://127.0.0.10]:7777 (../lib/sbi/nghttp2-server.c:397)
11/14 16:50:32.700: [sbi] INFO: nghttp2_server() [http://::1]:7777 (../lib/sbi/nghttp2-server.c:397)
11/14 16:50:32.700: [app] INFO: NRF initialize...done (../src/nrf/app.c:31)
11/14 16:50:40.052: [core] ERROR: OpenAPI_patch_item_parseFromJSON() failed [op] (../lib/sbi/openapi/model/patch_item.c:119)
11/14 16:50:40.053: [core] FATAL: listEntry_create: Assertion `data' failed. (../lib/sbi/openapi/src/list.c:10)
11/14 16:50:40.053: [core] FATAL: backtrace() returned 12 addresses (../lib/core/ogs-abort.c:37)
1   libogssbi-openapi.2.dylib           0x00000001056ade7c listEntry_create + 136
2   libogssbi-openapi.2.dylib           0x00000001056adcf0 OpenAPI_list_add + 28
3   libogssbi.2.dylib                   0x0000000104e398dc parse_json + 928
4   libogssbi.2.dylib                   0x0000000104e37b50 parse_content + 384
5   libogssbi.2.dylib                   0x0000000104e36220 ogs_sbi_parse_request + 3120
6   open5gs-nrfd                        0x000000010493f978 nrf_state_operational + 784
7   libogscore.2.dylib                  0x0000000104ec250c ogs_fsm_dispatch + 328
8   open5gs-nrfd                        0x0000000104941308 nrf_main + 492
9   libogscore.2.dylib                  0x0000000104eb11bc thread_worker + 308
10  libsystem_pthread.dylib             0x0000000184d27034 _pthread_start + 136
11  libsystem_pthread.dylib             0x0000000184d21e3c thread_start + 8
[1]    60548 abort      ./install/bin/open5gs-nrfd
```


### Expected behaviour

The expected behavior is described in [RFC 5789, section 2.2](https://datatracker.ietf.org/doc/html/rfc5789#section-2.2) – most importantly, the NRF should not crash.

### Observed Behaviour

The NRF crashes, see the log above.

### eNodeB/gNodeB

_No response_

### UE Models and versions

_No response_

@JKRhb 

I have resolved this issue and applied it to the main branch.

Thanks a lot!
Sukchan

Awesome, thank you @acetcom :)